# Do not track build objects.
build/*.o
build/*.ali

# Do not track pid files and the yolk executable in exe/
exe/yolk_server
exe/yolk.pid

# Do not track .pem files in exe/certificates
exe/certificates/*.pem

# Do not track the log files
exe/logs/*.log
