# Do not track build objects.
build/*
library/*
!build/.gitignore
!library/.gitignore

# demo/
# Do not track demo build objects.
demo/build/*
!demo/build/.gitignore

# Do not track pid files and the yolk executable in exe/
demo/exe/yolk_demo
demo/exe/*.pid

# Do not track .pem files in exe/certificates
demo/exe/certificates/*.pem

# Do not track the log files
demo/exe/logs/*.log
