with My_Configuration;  use My_Configuration;
with Rotating_Log;      use Rotating_Log;

package body View.Index is

   ---------------
   --  Generate --
   ---------------

   function Generate (Request : in AWS.Status.Data) return AWS.Response.Data
   is

      T                 : Translate_Set;

   begin

      Track (Handle     => Info,
             Log_String => "Testing the INFO track");

      Track (Handle     => Error,
             Log_String => "Testing the ERROR track");

      Insert (T, Assoc ("HANDLER", String'(Get (Handler_Index))));
      Insert (T, Assoc ("TEMPLATE", String'(Get (Template_Index))));
      Insert (T, Assoc ("URI", AWS.Status.URI (Request)));

      return View.Build_Response (Template_File => Get (Template_Index),
                                  Translations  => T);

   end Generate;

end View.Index;
