with AWS.Response;
with AWS.Status;

package View.Foo is

   function Generate (Request : in AWS.Status.Data) return AWS.Response.Data;
   --  Generate the content for the Foo resource.

end View.Foo;
