html, body, div, span, h1, h2, h3, h4, h5, h6, p,
blockquote, a, em, font, img, strong, dl, dt, dd,
ol, ul, li, form, table, tr, th, td {
    margin: 0px;
    padding: 0px;
}


body {
    height: 100%;
    width: 100%;
    font-family: "DejaVu Sans", Arial, sans-serif;
    font-size: 14px;
    background-color: #fffffa;
}

p {
    font-size: 15px;
    color: #444;
    background-color: inherit;
    margin-bottom: 15px;
    margin-top: 15px;
}

code {
    display: block;
    margin: 10px;
    padding: 0px;
}

dl {
    margin: 20px 15px;
    padding: 0px 10px 10px 10px;
    border: solid 1px #ddd;
    background-color: #eee;
}

dt {
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
}

dd {
    font-size: 13px;
    color: #444;
    margin-top: 5px;
    margin-left: 20px;
}

a {
    color: #000080;
    background-color: inherit;
}

a:hover {
    color: #800000;
    background-color: inherit;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.strike {
    text-decoration: line-through;
}


#content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    margin-bottom: 4%;
    border: solid 1px #d3d3d3;
    width: 600px;
    padding: 10px 25px;
    position: relative;
}

#content div {
    width: 10px;
    height: 10px;
    position: absolute;
    top: -6px;
}

#box1 {
    background-color: #d3d3d3;
    left: 595px;
}

#box2 {
    background-color: #800000;
    left: 610px;
}

#box3 {
    background-color: #808080;
    left: 625px;
}

#headline {
    position: absolute;
    font-size: 16px;
    top: -16px;
    left: 15px;
    color: #808080;
    background-color: inherit;
}
