<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html>
<head>
    <title>500 Internal Server Error</title>
</head>
<body>
    <h1>Internal Server Error</h1>
    <p>The requested resource caused the server to fail unexpectedly.</p>
    <p>A dump of the error has been saved, and hopefully a programmer will fix the problem soon.</p>
    <hr>
    <address>Server '@_DOMAIN_@' powered by AWS version @_VERSION_@</address>
</body>
</html>

