<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <title>
        Yolk
    </title>
</head>
<body>
    <h3>Your Yolk/AWS install is up and running!</h3>
    <p>@_RESOURCE_@</p>
    <p>URI: @_URI_@</p>
    <p>Handler: @_HANDLER_@</p>
    <p>Template: @_TEMPLATE_@</p>
    <p>Go to the <a href="/">Index resource</a>.</p>
</body>
</html>
