<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=iso-8859-1" />
        <script src="js/click.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
        <title>
            Yolk Web Framework
        </title>
    </head>
<body>
    <div id="content">
        <div id="box1"></div>
        <div id="box2"></div>
        <div id="box3"></div>
        <h3 id="headline">Yolk Web Framework</h3>
        <p>
            Congratulations! Your Yolk install is up and running.
        </p>
        <p>
            You can visit the servers status page <a href="status">here</a>. Username is "admin" and password is "changemenow".
        </p>
        <p>
            In the following we will verify that all the static content handlers are working as intended.
        </p>
        <dl>
            <dt>CSS test</dt>
            <dd>
                If <span class="bold">bold</span>, <span class="strike">line-through</span> and <span class="italic">italic</span> work, then the CSS handler is functional.
            </dd>
            <dt>Javascript test</dt>
            <dd>
                <button type="button" onclick="works();">Click me!</button>
                <br />
                You must of course have Javascript enabled for this test to work. If you get a Javascript alert, then the Javascript handler is functional.
            </dd>
            <dt>GIF, JPG and PNG test:</dt>
            <dd>
                <img src="images/test.gif" alt="Test GIF" />
                <img src="images/test.jpg" alt="Test JPG" />
                <img src="images/test.png" alt="Test PNG" />
                <object type="image/svg+xml" name="Test SVG" data="images/test.svg" width="60" height="25"/>
                <br />
                If you can see three images, then the GIF/JPG/PNG handlers are functional.
            </dd>
            <dt>ICO test:</dt>
            <dd>
                This page should have a a favourite icon that looks like this: <img src="images/favicon.ico" alt="ICO file" />
                <br />
                If you can see the icon, then the ICO handler is functional.
            </dd>
            <dt>HTML test:</dt>
            <dd>
                To test the HTML handler <a href="html/test.html">click here</a>.
            </dd>
            <dt>XML/XSL test:</dt>
            <dd>
                To test the XML/XSL handlers <a href="xml/test.xml">click here</a>.
            </dd>
        </dl>
        <p>
            If all the content handlers are functional, then you're ready to start using Yolk. Don't forget to read all the README files. Also there are valuable comments in the various configuration files and in the source itself. Enjoy!
        </p>
        <p>
            Lets end this with some basic stats for this page:
        </p>
        <dl>
            <dt>URI called:</dt>
            <dd>
                @_URI_@
            </dd>
            <dt>Content Handler for this page:</dt>
            <dd>
                @_HANDLER_@
            </dd>
            <dt>Template used by this page:</dt>
            <dd>
                @_TEMPLATE_@
            </dd>
        </dl>
        <p>
            Yolk is created by Thomas Løcke.
        </p>
    </div>
    <div id="w3c">
        <a href="http://validator.w3.org/check?uri=referer">
            <img src="images/valid-xhtml10-blue.png" alt="Valid XHTML 1.0 Strict" height="31" width="88" />
        </a>
    </div>
</body>
</html>
