# All keys used in this file _must_ be defined in the Keys type and in the
# Defaults_Array in my_configuration/my_configuration.ads
#
# The path to this file is defined in My_Configuration.Config_File.
# 
# The options set in this file should be application specific, ie. access
# credentials, content handlers, templates and so on.
#
# For Yolk specific settings, take a look at core/configuration.ads.

#######################
#  Resource handlers  #
#######################

# These Key/Value pairs are literal names and regular expressions used to
# define which dispatcher is used for a given resource.
#
# NOTE:
#   Remember that the content is served on a "first hit" basis, meaning that
#   the first handler to return true wins.
#
# All dispatchers are set in the Handlers.Initialize procedure.

Handler_Index /|/[Ii]ndex

############################
#  Path To Template Files  #
############################

Template_Index templates/website/index.tmpl

##############
#  Database  #
##############

DB_Name
# String.
# Default: [no value]
# The name of the database we want to connect to.

DB_Host
# String.
# Default: [no value]
# The host where the database resides.

DB_User
# String.
# Default: [no value]
# The database user.

DB_Password
# String.
# Default: [no value]

###########
#  Email  #
###########

SMTP
# String.
# Default: [no value]
# The SMTP server used by the Simple_Email package to send email.
